<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="An Easy Web Presentation.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @RenderSection("Styles", required: false)
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
