bin/
obj/
doc/
init/
logs/
properties/
upload/
temp/

*.user
*.debug.config
*.release.config
*.ico
*.asax
*.txt
*.xsd
*.cd
*.dll
*.csproj
*.pdb
*.log
*.xml
*.exe

*.vsmdi
*.vspscc
*.vssscc
*.csproj
*.sln
*.testsettings
